@import '../button/button';
@import '../input/input';

.form {
  padding: 0 100px;
  margin: 0 auto;
  text-align: center;

  &__button {
    @extend .button;

    margin: 20px auto 5px;
  }

  &__error {
    //...
  }

  &__input {
    @extend .input;
  }
}

@media screen and (max-width: $max-width) {
  .form {
    padding: 0 5px;
  }
}
