.buttons__minor-button {
    display: inline-block;
}

.buttons__minor-button a:link, a:visited {
    background-color: #CC7722;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.buttons__minor-button a:hover, a:active {

}