.register_panel {
  margin: auto;
  //position: absolute;
  z-index: 1;

  &__login,
  &__signup {
    @extend .button !optional;

    text-align: center;
    color: #f8f0fb;
    background-color: #211a1d;
    border: none;
    display: inline-block;
    vertical-align: middle;
    //-webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    //position: relative;
  }
}
