@import '../button/button';
@import '../../scheme';

.user-panel {
  z-index: 1;
  margin: auto;
  text-align: right;

  &__username {
    display: inline-block;
    font-size: $font-size;
    color: $hexandria-white;
    vertical-align: middle;
    margin: 0 10px;
  }

  &__button-logout {
    @extend .button;
  }
}
