@import '../button/button';
@import '../../scheme';

.register-panel {
  z-index: 1;
  margin: auto;

  &__button {
    @extend .button;

    display: inline-block;
    text-align: center;
    color: $hexandria-white;
    background-color: $hexandria-background;
    border: none;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
  }
}
