@import '../../scheme';

@keyframes border-blink-animation {
  to {
    border-color: $hexandria-background;
  }
}

.hexandria {
  &__info {
    display: inline-block;
    font-size: 0.5 * $font-size;
    margin: 0 5px;
    padding: 0 5px;
    color: $hexandria-default;

    &-1 {
      color: $hexandria-game-1;
      border: 1px solid $hexandria-background;

      &__turn {
        color: $hexandria-game-1;
        border: 1px solid $hexandria-game-1;
        animation-name: border-blink-animation;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
      }
    }

    &-2 {
      color: $hexandria-game-2;
      border: 1px solid $hexandria-background;

      &__turn {
        color: $hexandria-game-2;
        border: 1px solid $hexandria-game-2;
        animation-name: border-blink-animation;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
      }
    }

    @media screen and (max-width: $max-width) {
      font-size: 0.5 * $font-size-mobile;
    }
  }

  &__container {
    @extend .center-block__;

    text-align: center;
    color: $hexandria-white;
  }

  &__result {
    text-align: center;
    color: $hexandria-white;
  }

  &__turn {
    border: 1px solid $hexandria-default;
  }
}

#hexandria__timeout {
  display: inline-block;
  vertical-align: middle;
  min-width: 50px;
  font-size: 0.75 * $font-size;
}
