@import '../../scheme';

.hexandria {
  &__info {
    display: inline-block;
    margin: 0 10px;
    padding: 0 5px;
    color: $hexandria-default;

    &-1 {
      color: red;
      border: 1px solid $hexandria-background;

      &__turn {
        color: red;
        border: 1px solid red;
      }
    }

    &-2 {
      color: blue;
      border: 1px solid $hexandria-background;

      &__turn {
        color: blue;
        border: 1px solid blue;
      }
    }
  }

  &__container {
    @extend .center-block__;

    text-align: center;
    font-size: 150%;
    color: $hexandria-white;
  }

  &__result {
    //@extend .center-block__;

    text-align: center;
    font-size: 150%;
    color: $hexandria-white;
  }

  &__turn {
    border: 1px solid $hexandria-default;
  }
}
