div.hexandria__info(class=player1.turn ? "hexandria__info-1__turn" : "hexandria__info-1") #{player1.name}

div.hexandria__info#hexandria__timeout

div.hexandria__info(class=player2.turn ? "hexandria__info-2__turn" : "hexandria__info-2") #{player2.name}
