if message === 'Waiting for opponent...'
    div.hexandria__img-load
else if message === 'You are offline'
    div.hexandria__img-offline
else if message === 'Please login'
    div.hexandria__img-login
else
    //...
div.hexandria__result #{message}
