div.about
    div.about__item
        span.about__image
        span.about__text
            div.about__special About game
            | A turn-based strategy game in which you must defend your capital city and try to conquer enemy capitals.
            | This is accomplished by moving your armies on a map with hexagonal spaces.
            | The game's objective is simple: conquer the world.
            | To accomplish the goal you have use your armies to capture enemy capital and defend your own.
            | If you lose your capital the game is over.

    div.about__item
        span.about__image
        span.about__text
            div.about__special About team
            a(href='https://github.com/sychuginaanna') Sychugina Anna (mentor)
            a(href='https://github.com/aorel') Orel Alexandr
            a(href='https://github.com/Intaco') Prokopchuk Nikita
            a(href='https://github.com/Metalluga') Rogachev Semyon
            a(href='https://github.com/trntga') Salyp Bogdan
