@import '../components/button/button';
@import '../scheme';

.main {
  @extend .center-block__;

  text-align: center;

  &__panel {
    padding: 10px 0;
  }

  &__register-panel {
    //...
  }

  &__user-panel {
    //...
  }

  &__title {
    text-transform: uppercase;
    padding: 50px 0 5px;
    color: $hexandria-white;
    font-weight: 700;
    font-size: 2 * $font-size;

    @media screen and (max-width: $max-width) {
      padding: 25px 0 5px;
      color: $hexandria-white-mobile;
      font-size: 2 * $font-size-mobile;
    }
  }

  &__motto {
    color: $hexandria-white;
    font-weight: lighter;
    font-size: $font-size;

    @media screen and (max-width: $max-width) {
      color: $hexandria-white-mobile;
      font-size: $font-size-mobile;
    }
  }

  &__buttons {
    background-color: $hexandria-background;
    padding: 50px 0 5px;

    @media screen and (max-width: $max-width) {
      padding: 25px 0 5px;
    }

    &__main,
    &__minor {
      margin: 15px 0;
    }
  }

  &__singleplayer,
  &__multiplayer {
    @extend .button;

    border: 1px solid $hexandria-special;
    min-width: 175px;
    margin: 5px 15px;

    &:hover {
      background-color: $hexandria-special;
    }
  }

  &__about,
  &__scoreboard {
    @extend .button;

    min-width: 175px;
    margin: 5px 15px;
  }
}
