@import '../scheme';

.scoreboard {
  @extend .center-form__;

  &__user {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    text-align: left;

    &__top {
      display: flex;
      align-items: center;
      padding: 10px 5px;
      text-align: left;
      border-bottom: 1px solid $hexandria-special;
    }
  }

  &__name {
    flex-grow: 100;
  }

  &__score {
    width: 75px;
  }
}
