.game-container {
  position: relative;
  border: 2px solid #f00;
  height: 400px;

  /*fixed or static*/
  /*position: fixed;
  top: 100px;
  left: 100px;*/
}

#canvas {
  position: fixed;
  top: 100px;
  left: 100px;
}