@import "../../scheme";

.title {
  //position: absolute;
  //top: 6%;
  //width: 100%;
  //height: 5%;
  padding: 20px 0 10px;
  // -----
  text-align: center;
  color: $hexandria-white;
  font-size: 200%;
  font-weight: 900;
}
