@import "../button/button";
@import "../../scheme";

.title {
  margin: 10px auto 5px;
  text-align: center;
  color: $hexandria-white;

  p {
    display: inline-block;
    margin: 10px 0;
    font-size: 200%;
    font-weight: 900;
  }

  .title-back-button {
    @extend .button;

    display: inline-block;
    float: left;
    min-width: 50px;
  }
}
