@import '../button/button';
@import '../../scheme';

.title {
  display: flex;
  padding: 10px 0 5px;
  color: $hexandria-white;

  &__main {
    margin: 10px 0;
    text-align: center;
    flex-grow: 100;
    font-size: 200%;
    font-weight: 900;
    vertical-align: middle;
  }

  &__back-button {
    @extend .button;

    min-width: 50px;
    vertical-align: middle;
  }

  &__shadow-button {
    @extend .button__;

    min-width: 50px;
  }
}
