@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  font-family: 'Lato', sans-serif;
  background-color: #000000;
}

body .registration {
  position: absolute;
  margin-left: 70%;
  margin-right: auto;
  margin-top: 3%;
  width: 25%;
}

body .hex {
  position: absolute;
  margin-left: 5%;
  margin-right: auto;
  margin-top: 8%;
}

@mixin createHex($height, $color, $z-index) {

  background-color: $color;
  height: $height / 2;
  width: $height * 0.866;
  z-index: $z-index;

  &::before {
    content: " ";
    width: 0; height: 0;
    border-bottom: ($height / 4) solid $color;
    border-left: ($height * 0.433) solid transparent;
    border-right: ($height * 0.433) + 1px solid transparent;
    position: absolute;
    top: -($height / 4);
  }

  &::after {
    content: "";
    width: 0;
    border-top: ($height / 4) solid $color;
    border-left: ($height * 0.433) solid transparent;
    border-right: ($height * 0.433) + 1px solid transparent;
    position: absolute;
    bottom: -($height / 4);
  }
}

@mixin createHexInside($height, $color, $z-index) {

  background-color: $color;
  height: $height / 2;
  width: $height * 0.866 - 1px;
  z-index: $z-index;

  &::before {
    content: " ";
    width: 0; height: 0;
    border-bottom: ($height / 4) solid $color;
    border-left: ($height * 0.433) solid transparent;
    border-right: ($height * 0.433) solid transparent;
    position: absolute;
    top: -($height / 4);
  }

  &::after {
    content: "";
    width: 0;
    border-top: ($height / 4) solid $color;
    border-left: ($height * 0.433) solid transparent;
    border-right: ($height * 0.433) solid transparent;
    position: absolute;
    bottom: -($height / 4);
  }
}

.hex {
  position: relative;

  @include createHex(900px, #fff, 0);

  .hex__minor_hex {
    margin-left: 6px;
    margin-top: 3px;
    position: relative;

    @include createHexInside(888px, #000, 1);

    .hex__title {
      padding-top: 70px;
      position: relative;
      text-align: center;
      color: #fff;
      font-weight: 900;
      font-size: 400%;
    }

    .hex__motto {
      padding-top: 20px;
      position: relative;
      text-align: center;
      color: #fff;
      font-weight: 400;
      font-size: 200%;
    }
  }
}

.button {
  text-align: center;
  padding: 10px;
  font-size: 120%;

  button {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #000;
    border: 4px solid #fff;
  }
  a:hover, a:active {

  }
}

body .buttons {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
}

.buttons {
  margin: auto;
  background-color: #000;
  padding: 10px;
  text-align: center;

  .buttons__main-buttons {
    @extend .button
  }

  .buttons__minor-buttons {
    @extend .button
  }


}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;

  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.registration {
  @extend .button
}