@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  font-family: 'Lato', sans-serif;
  background-color: #000;
  visibility: hidden;
}

body .registration {
  top: 2%;
  right: 5%;
  height: 10%;
  width: 20%;
  //margin: 2% 5% 0 70%;
  position: absolute;
}

body .hex {
  position: absolute;
  margin: 8% auto 0 5%;
}

@mixin createHex($height, $color, $z-index) {
  background-color: $color;
  height: $height / 2;
  width: $height * 0.866;
  z-index: $z-index;
  &::before {
    content: " ";
    width: 0; height: 0;
    border-bottom: ($height / 4) solid $color;
    border-left: ($height * 0.433) solid transparent;
    border-right: ($height * 0.433) + 1px solid transparent;
    position: absolute;
    top: -($height / 4);
  }
  &::after {
    content: "";
    width: 0;
    border-top: ($height / 4) solid $color;
    border-left: ($height * 0.433) solid transparent;
    border-right: ($height * 0.433) + 1px solid transparent;
    position: absolute;
    bottom: -($height / 4);
  }
}

@mixin createHexInside($height, $color, $z-index) {
  background-color: $color;
  height: $height / 2;
  width: $height * 0.866 - 1px;
  z-index: $z-index;
  &::before {
    content: " ";
    width: 0; height: 0;
    border-bottom: ($height / 4) solid $color;
    border-left: ($height * 0.433) solid transparent;
    border-right: ($height * 0.433) solid transparent;
    position: absolute;
    top: -($height / 4);
  }
  &::after {
    content: "";
    width: 0;
    border-top: ($height / 4) solid $color;
    border-left: ($height * 0.433) solid transparent;
    border-right: ($height * 0.433) solid transparent;
    position: absolute;
    bottom: -($height / 4);
  }
}

.hex {
  position: relative;
  @include createHex(900px, #fff, 0);
  &__minor_hex {
    margin: 2px 0 0 4px;
    position: relative;
    @include createHexInside(892px, #000, 1);
  }
  &__title {
    text-transform: uppercase;
    padding-top: 70px;
    position: relative;
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 400%;
  }
  &__motto {
    padding-top: 20px;
    position: relative;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 200%;
  }
  &__buttons {
    position: relative;
    margin: 50px auto 0 auto;
    width: 80%;
    background-color: #000;
    padding: 10px;
    text-align: center;
  }
  &__main-buttons {
  }
  &__minor-buttons {
  }
  &__singleplayer, &__multiplayer {
    @extend .button;
    width: 200px;
    margin: 3px;
  }
  &__about, &__scoreboard {
    @extend .button;
    width: 200px;
    margin: 3px;
  }
}

.button {
  text-align: center;
  font-size: 120%;
  color: white;
  padding: 10px;
  text-decoration: none;
  background-color: #000;
  border: 1px solid #fff;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;

  &:before {
    content: '';
    position: absolute;
    border: #eb9300 solid 1px;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover:before, &:focus:before, &:active:before {
    opacity: 1;
    cursor: pointer;
  }
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;

  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.registration {
  display: inline-block;

  &__login, &__signup {
    @extend .button;
    width: 45%;
    height: 60%;
  }

  &__registered, &__unregistered {
    position: absolute;
    width: 100%;
    height: 100%;

    &:before {
      content: ' ';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }

  &__username {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;

    &:before {
      content: '';
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      width: 120px;
    }
  }

  &__avatar {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px;
  }
}

.page {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

  &__title {
    text-align: center;
    color: #fff;
    font-size: 200%;
    font-weight: 900;
    margin: 5% auto 5% auto;
  }
  &__back {
    @extend .button;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  &__button {
    @extend .button;
    position: relative;
    width: 30%;
    margin: 2% 50% 5% 20%;
    display: block;
  }
  &__game {
    position: absolute;
    top: 0;
    z-index: -1;
  }
  &__login {
    margin: 0 5% 0 25%;
    min-width: 300px;
  }

  &__error {
    width: 28%;
    color: #fff;
    display: inline;
  }

  &__input {
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    display: inline-block;
    width: 62%;
    min-height: 40px;
    padding: 12px;
    margin: 20px 5% 20px 5%;
    box-sizing: border-box;
    outline: none;
    transition: border 0.2s ease-in-out;
  }

  ::-webkit-input-placeholder {
    color: #ccc;
    text-indent: 0;
    -webkit-transition: opacity .75s;
    transition: opacity .75s;
  }

  ::-moz-placeholder {
    color: #ccc;
    text-indent: 0;
    -webkit-transition: opacity .75s;
    transition: opacity .75s;
  }

  :-ms-input-placeholder {
    color: #ccc;
    text-indent: 0;
    -webkit-transition: opacity .75s;
    transition: opacity .75s;
  }

  :focus::-webkit-input-placeholder {
    text-indent: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s, text-indent 1s;
    transition: opacity .5s, text-indent 1s;
  }

  :focus::-moz-placeholder {
    text-indent: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s, text-indent 1s;
    transition: opacity .5s, text-indent 1s;
  }

  :focus:-ms-input-placeholder {
    text-indent: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s, text-indent 1s;
    transition: opacity .5s, text-indent 1s;
  }
}