@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  font-family: 'Lato', sans-serif;
  background-color: #000000;
}

.button {
  text-align: center;
  padding: 10px;

  a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #CC7722;
  }
  a:hover, a:active {

  }
}

body .registration {
  position: relative;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  width: 25%;
}

body .hex {
  position: absolute;
  margin-left: 5%;
  margin-right: auto;
  margin-top: 3%;
}

@mixin createHex($height) {

  height: $height / 2;
  width: $height * 0.866;

  &::before {
    content: " ";
      width: 0; height: 0;
      border-bottom: ($height / 4) solid #6C6;
      border-left: ($height * 0.433) solid transparent;
      border-right: ($height * 0.433) + 1px solid transparent;
      position: absolute;
      top: -($height / 4);
  }

  &::after {
    content: "";
      width: 0;
      position: absolute;
      bottom: -($height / 4);
      border-top: ($height / 4) solid #6C6;
      border-left: ($height * 0.433) solid transparent;
      border-right: ($height * 0.433) + 1px solid transparent;
  }
}

.hex {
  background-color: #6C6;
  position: relative;

  @include createHex(900px);

}

body .buttons {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
}

.buttons {
  margin: auto;
  background-color: #FAF0BE;
  padding: 10px;
  text-align: center;
  border: 10px solid #CC7722;

  .buttons__main-button {
    @extend .button
  }

  .buttons__minor-button {
    display: inline-block;

    a:link, a:visited {
      background-color: #CC7722;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    a:hover, a:active {

    }
  }

  .buttons__minor-buttons {
    @extend .button
  }


}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;

  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.registration {
  width: 50%;
  background-color: #FAF0BE;
  padding: 10px;
  text-align: center;
  position: relative;

  a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #CC7722;
  }
}