.user_panel {
  top: 2%;
  right: 5%;
  height: 7%;
  width: 20%;
  position: absolute;
  z-index: 1;

  &__username {
    font-size: 140%;
    color: #f8f0fb;
    display: inline-block;
    //float: left;
    vertical-align: middle;
  }

  &__logout {
    @extend .button !optional;
    display: inline-block;
    //float: left;
    //text-align: center;
    color: #f8f0fb;
    background-color: #211A1D;
    border: none;
    text-decoration: underline;
    //vertical-align: middle;
  }
}