.user_panel {
  margin: auto;
  position: absolute;
  z-index: 1;

  &__username {
    font-size: 140%;
    color: #f8f0fb;
    display: inline-block;
    vertical-align: middle;
  }

  &__logout {
    @extend .button !optional;

    display: inline-block;
    color: #f8f0fb;
    background-color: #211a1d;
    border: none;
    //text-decoration: underline;
  }
}
