$hexandria-background: #211a1d;
$hexandria-default: #9197ae;
$hexandria-special: #f02d3a;
$hexandria-white: #fff; //#f8f0fb
$hexandria-white-mobile: #fff;

$max-width: 768px;

$font-size: 150%;
$font-size-mobile: 125%;

.center-block__ {
  padding: 0 100px;
  margin: 0 auto;
  //text-align: center;

  @media screen and (max-width: $max-width) {
    padding: 0 5px;
  }
}

.center-form__ {
  width: 550px;
  //padding: 0 100px;
  margin: 0 auto;
  //text-align: center;

  @media screen and (max-width: $max-width) {
    width: auto;
    padding: 0 5px;
  }
}
