@import '../../scheme';

.input {
  border: 1px solid $hexandria-default;
  background-color: $hexandria-background;
  font-size: $font-size;
  color: $hexandria-white;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  outline: none;
  transition: border 0.25s ease-in-out;
  box-sizing: border-box;

  &:focus {
    border-color: $hexandria-white;
  }

  @media screen and (max-width: $max-width) {
    font-size: $font-size-mobile;
    color: $hexandria-white-mobile;
  }
}

.input-error {
  border-color: $hexandria-special;
}
