.hex {
  border-left: #9197ae solid 10px;
  border-right: #9197ae solid 10px;
  min-width: 400px;

  &__panel {
    //position: relative;
    height: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &__register_panel {
    //position: absolute;
    right: 3%;
    height: 100%;
    width: 30%;
  }

  &__user_panel {
    //position: absolute;
    right: 3%;
    height: 100%;
    width: 100%;
    background-color: yellow;
  }

  &__title {
    //position: relative;
    text-transform: uppercase;
    padding-top: 13%;
    padding-bottom: 3%;
    text-align: center;
    color: #f8f0fb;
    font-weight: 700;
    font-size: 400%;
  }

  &__motto {
    position: relative;
    text-align: center;
    color: #f8f0fb;
    font-weight: 400;
    font-size: 200%;
  }

  &__buttons {
    position: relative;
    margin: 50px auto 0 auto;
    width: 80%;
    background-color: #211a1d;
    padding: 10px;
    text-align: center;
  }

  &__buttons-main {
  }

  &__buttons-minor {
  }

  &__singleplayer,
  &__multiplayer {
    @extend .button;

    width: 300px;
    margin: 3px;
  }

  &__about,
  &__scoreboard {
    @extend .button;

    width: 200px;
    margin: 3px;
  }
}
