@import "../button/button";
@import "../../scheme";

.hex {
  //position: absolute;
  left: 0;
  right: 0;
  width: 65%;
  height: 100%;
  margin: 0 auto;
  // -----
  //border-left: #9197ae solid 10px;
  //border-right: #9197ae solid 10px;
  min-width: 400px;

  &__panel {
    //position: relative;
    height: 5%;
    margin: 5px;
    padding: 0 5px;
  }

  &__register-panel {
    //...
  }

  &__user-panel {
    //...
  }

  &__title {
    text-transform: uppercase;
    padding-top: 13%;
    padding-bottom: 3%;
    text-align: center;
    color: $hexandria-white;
    font-weight: 700;
    font-size: 400%;
  }

  &__motto {
    text-align: center;
    color: $hexandria-white;
    font-weight: 400;
    font-size: 200%;
  }

  &__buttons {
    margin: 50px auto 0;
    width: 80%;
    background-color: $hexandria-background;
    padding: 10px;
    text-align: center;
  }

  &__buttons-main {
    border-color: $hexandria-special
  }

  &__buttons-minor {
    border-color: $hexandria-white;
  }

  &__button-login,
  &__button-signup,
  &__button-logout {
    @extend .button;
  }

  &__singleplayer,
  &__multiplayer {
    @extend .button;
    @extend .hex__buttons-main;

    width: 300px;
    margin: 3px;
  }

  &__about,
  &__scoreboard {
    @extend .button;
    @extend .hex__buttons-minor;

    width: 200px;
    margin: 3px;
  }
}
