@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    font-family: 'Lato', sans-serif;
    background-color: #000000;
}

body .registration {
    position: relative;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    width: 25%;
}

body .header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 50%;
}

body .buttons {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
}