.button {
  text-align: center;
  font-size: 150%;
  color: white;
  padding: 10px;
  text-decoration: none;
  background-color: #211a1d;
  border: 1px solid #f8f0fb;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);

  &:hover {
    background-color: #9197ae;
    cursor: pointer;
  }
}
