@import '../../scheme';

.button__ {
  display: inline-block;
  text-align: center;
  font-size: $font-size;
  color: $hexandria-white;
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  vertical-align: middle;

  @media screen and (max-width: $max-width) {
    font-size: $font-size-mobile;
    color: $hexandria-white-mobile;
    padding: 15px;
  }
}

.button {
  @extend .button__;

  text-decoration: none;
  background-color: $hexandria-background;
  border: 1px solid $hexandria-default;
  min-width: 125px;

  &:hover {
    background-color: $hexandria-default;
    cursor: pointer;
  }

  @media screen and (max-width: $max-width) {
    min-width: 75px;
  }
}
