@import '../../scheme';

.errorMessage {
  margin: 0 0 20px;
  padding: 5px;
  font-size: 150%;
  //
  color: $hexandria-special;
  border-left: 1px solid $hexandria-special;
  border-right: 1px solid $hexandria-special;
  transition: all 2s linear;
}

.errorMessage:empty {
  margin: 0;
  padding: 0;
  //
  color: $hexandria-background;
  border-left: 1px solid $hexandria-background;
  border-right: 1px solid $hexandria-background;
}
